@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home";
}


<!--Header of my preferred name-->
<h1>Ellie Ward</h1>

<!--picture doing something I enjoy-->
<img src="img/Screenshot 2023-01-30 111748.jpg" />

<!--paragraph on what I hope to get out of IS 413-->
<p>Programming has never been my strongsuit. Since starting a strongly typed language, I'm realizing I may like it more. I love the setup and how much there is to help you code. I hope to gain a solid understanding of strongly typed language to prepare me for a summer internship. I would also like to be able to start little projects on my own!</p>

<!--top 3 jobs-->
<h3>Top 3 Job Interests:</h3>
<ol>
    <li>Data Scientist</li>
    <li>Project Manager</li>
    <li>AI Developer</li>
</ol>